/*
__________________________________________________________________________________________________________________________________________________
Name:           OCC1 (Obsidian Custom CSS 1)
Description:    Custom CSS for Obsidian
Script by:      https://github.com/llZektorll
Creation Date:  2022 October 04
Version:        1.0
__________________________________________________________________________________________________________________________________________________
*/

/*
__________________________________________________________________________________________________________________________________________________
__________________________________________________________________________________________________________________________________________________
*/

/*
__________________________________________________________________________________________________________________________________________________
Activity History
__________________________________________________________________________________________________________________________________________________
*/
.selectYear {
    border-color: none;
}

.HistoryBoard {
    background-color: rgba(169, 177, 197, 0.829);
    padding: 14px;
    border-radius: 14px;
    width: auto;
    height: auto;
}

.HistoryBoard text{
    fill: rgb(78, 116, 43);
    font-weight: 900;
}

.ObsidianHistoryBlock {
    background-color: white;
    border-radius: 14px;
    width: auto;
    height: auto;
}

.selectYear {
    float: left;
    margin-bottom: 5px;
    border-color: white;
    border-radius: 14px;
}

/*
__________________________________________________________________________________________________________________________________________________
Icons Default Color
__________________________________________________________________________________________________________________________________________________
*/

svg{
    color: rgb(79, 152, 194) !important;
}

/*
__________________________________________________________________________________________________________________________________________________
Calendar Colors
__________________________________________________________________________________________________________________________________________________
*/

/* Calendar */

    /* Month */
    .svelte-1vwr9dd{
        color: #317c27 !important;
    }
/* Week */
    .week-num{
        color: #c7c41eb0 !important;
        font-size: 12px !important;
        font-weight: bold !important;
    }
/* Week day*/
    .svelte-pcimu8{
        color: #6ada53 !important;
    }

/* Day */
    .day {
        color: #df8a44 !important;
    }

/*DOT*/
    .dot {
        fill: #ffffff94 !important;
    }

/*
__________________________________________________________________________________________________________________________________________________
Tags Color
__________________________________________________________________________________________________________________________________________________
*/
.cm-s-obsidian span.cm-hashtag,
.tag {
    cursor: pointer;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    display: inline-block;
}

/*Custom Tag Colors*/
.cm-s-obsidian span[class*="cm-tag-Frame"],
.tag[href="#Day/Work"] {
    background-color: rgba(139, 0, 0, 0.295);
}
.cm-s-obsidian span[class*="cm-tag-Frame"],
.tag[href="#Day/Free"] {
    background-color: rgba(50, 156, 56, 0.295);
}